<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">&copy;Copyright. All Rights Reseserved</a>
      </div>
    </nav>
  </footer>
</body>
</html>

